<header>
  <h1>CoinyQuest <i class="fas fa-donate"></i></h1>
  <h2>The Scape Challenge</h2>
</header>


<div class="containers-frame">
  <div id="timer-container">00:00:00</div>
  <div class="inputs-container">
    <input maxlength="1">
    <input maxlength="1">
    <input maxlength="1">

    <input maxlength="1">
    <input maxlength="1">
    <input maxlength="1">
  </div>
  <button id="send-code">Enviar</button>
  <div class="clue"></div>
  <div class="notification"></div>
</div>