<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h3>RatAlert Exceptions</h3>

<h1><%= @error %></h1>


<p>The end?</p>
</body>
</html>