<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

<h3 style="width: 100%;
    margin: 2rem auto 0px;
    text-align: center;
    font-size: 1.2rem;
    color: #4a4a4a;
    font-family: monospace;">
  Llegamos al limite cuando quisimos sacar <%= @entry.title %>.
</h3>
<h3 style="width: 100%;
    margin: 2rem auto 0px;
    text-align: center;
    font-size: 1.2rem;
    color: #4a4a4a;
    font-family: monospace;">
  Sigamos insistiendo <strong>ratitas</strong>...
</h3>

<br>
<br>

<h4 style="width: 100%;
    margin: 2rem auto 0px;
    text-align: center;">
  <a target="_blank" href="https://ingresar.lanacion.com.ar/ingresar/B/8/">
    Logueate a LANACION
  </a>
</h4>

<br>
<p>Hasta el próximo mail queridas ratitas...</p>

</body>

</html>