<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h3>RatAlert, RatAlert! Hay algo nuevo y es GRATIS!!!</h3>

<h1>
  Se trata de
  <a href="http://experienciasblack.lanacion.com.ar/experiencia/<%= @entry.site_id %>">
    <%= @entry.title %>
  </a>
</h1>


<p>Hasta el próximo RatAlert Siranushen..</p>
</body>
</html>