<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h3>RatAlert, RatAlert! Hay algo nuevo y es GRATIS!!!</h3>

<h1>
  Se trata de
  <a href="<%= @entry.site_link %>">
    <%= @entry.title %>
  </a>
</h1>


<p>Hasta el próximo mail queridas ratitas...</p>
</body>
</html>