default: &default
  adapter: mysql2
  timeout: 5000
  encoding: utf8
  pool: <%= ENV.fetch('RAILS_MAX_THREADS') { 5 } %>
  username: <%= ENV.fetch('MYSQL_USER') { 'root' } %>
  password: <%= ENV.fetch('MYSQL_PASSWORD') { 'sinclair' } %>
  host: <%= ENV.fetch('MYSQL_HOST') { 'db' } %>


development:
  <<: *default
  database: scraper_dev

staging:
  <<: *default
  database: scraper_stg

test:
  <<: *default
  database: scraper_test
