# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b7d8fee04e956c2f8511169f99eac163ab3c6e60ee504843090eb1c79001c05ffc326c6211d332fc95aabc4bf8f4401db86c0e1c0f4f3eab4ff972fad9fb21a5

staging:
  secret_key_base: b7d8fee04e956c2f8511169f99eac163ab3c6e60ee504843090eb1c79001c05ffc326c6211d332fc95aabc4bf8f4401db86c0e1c0f4f3eab4ff972fad9fb21a5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: eb3ad8d85feadceca535dc934f52b86a3c2cdf3addd427b1562d1bacd4fb78602b1af4b364ba795b0aefa6487955f045dfd9f4312f77835583540f96dff670c5

